---
ip: "192.168.10.10"
memory: 2048
cpus: 1

authorize: ~/.ssh/id_dsa.pub

keys:
    - ~/.ssh/id_dsa

folders:
    - map: ~/Code
      to: /home/vagrant/yoursite.com
      type: nfs

sites:
    - map: yoursite.com.192.168.10.10.xip.io
      to: /home/vagrant/yoursite.com/public

databases:
    - homestead

variables:
    - key: APP_ENV
      value: local
